
.inputs {
    margin-left: 30%;
    margin-right: 30%;
}

enviarbtn{
    align-content: center;
}


.form-control {
    margin: 5px; 
}

.form-group{
    color:white;
}

h1 {
    margin-bottom: 20px;
    margin-top:60px;
}

h3 {
    margin-bottom: 20px;
    margin-top:60px;
}

#background_login {
  border-radius: 25px;
  background: #84ADB4;
  padding: 20px;

  
}