.container {
    text-align: center;
}

.inputs {
    margin: 10px;
}
.inputs .cpfinput {
    margin: 10px;
}
.inputs .senhainput { 
    margin: 10px;
}


.form-group {
    float: right; 
    width: 10%; 
}
.form-control {
    margin: 10px; 
}


